html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#root {
  height: 100vh;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

canvas {
  width: 100%; /* Explicitly set width to 100% */
  height: 80vh; /* Explicitly set height to 80% of viewport height */
}

#control-section {
  height: 20vh;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAF9F6;
}
